Client/Connected Services/Editor/TodoListLib.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TodoListLib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TodoListLib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Task">
    <xs:sequence>
      <xs:element name="Deadline" type="xs:dateTime" />
      <xs:element name="Description" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="Tags" nillable="true" type="q1:ArrayOfstring" />
      <xs:element name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Task" nillable="true" type="tns:Task" />
</xs:schema>